<div class="property_detail_for_lease_container">
	<div class="property_detail_close js-property-detail-close"></div>

	<div class="property_detail_gallery_container gallery_container">
		{{#if resource.leasingImage}}
			{{#each resource.leasingImage}}
				<div class="property_detail_image_container gallery_image_container" style="background-image: url('{{cleanurl url}}')" title="{{ title }}"></div>
			{{/each}}
			<div class="gallery_zoom"></div>
		{{else}}
			{{#if leasingthumbnailimage}}
			<div class="property_detail_image_container gallery_image_container" style="background-image: url('{{cleanurl leasingthumbnailimage}}')"></div>
			{{else}}
			{{/if}}
		{{/if}}
	</div>

	<div class="property_detail_title_container"><h1>{{name}}</h1></div>

	<div class="page_content_selector_wrapper">
		<div class="page_content_selector_container">
			<div class="property_detail_trigger page_content_selector">Details</div>
			<div class="property_map_trigger page_content_selector">Map</div>
		</div>
	</div>

	<div class="property_detail_content_container">
		<div class="property_detail_content_header_container">
			<div class="property_detail_address">{{goodmanaddress address suburb region country}} {{!-- {{address}}{{#if suburb}} {{suburb}}{{/if}}{{#if region}} {{region}}{{/if}} --}}</div>
			<div class="property_detail_filter_container">
				<div class="property_detail_filter_item property_detail_type">{{goodmantypes propertytype}}</div>
				{{#if displaySizeLease}}<div class="property_detail_filter_item property_detail_area">{{ displaySizeLease }}</div>{{/if}}
				{{#if fund}}<div class="property_detail_filter_item property_detail_fund">Fund: {{fund}}</div>{{/if}}
			</div>
			<div class="property_detail_link_container">
				{{!-- <div class="property_detail_view_lease general_style_button general_style_button_green" data-propertyview="property">View property</div> --}}
				<div class="clear"></div>
				{{#if micrositeurl}}
				<a href="{{cleanurl micrositeurl}}" target="_blank" class="property_detail_website">Website</a>
				{{/if}}
				<a target="_blank" href="mailto:?subject=Take a look at this Goodman property&body={{shareBaseUrl}}?pid={{objectid}}" class="property_detail_share">Share</a>
				{{#if childproperties}}
				<div class="property_detail_more_spaces" data-scrollto=".property_detail_content_more_spaces">More spaces available+</div>
				{{/if}}
				<div class="clear"></div>
			</div>
		</div>

		<div class="property_detail_content_body_container">
			{{#if showToolBar}}
			<div class="property_detail_tool_bar"><!--
				{{#if resource.brochure}} -->{{goodmanresources resource.brochure 'brochure' 'Brochure' 'Brochures' true}}<!-- {{/if}}
				{{#if videourl}}
				--><a href="{{cleanurl videourl}}" target="_blank" class="property_detail_tool_bar_item property_detail_tool_bar_item_video"><div class="property_detail_tool_bar_item_title">Video</div></a><!--
				{{/if}}
				{{#if resource.plan}} -->{{goodmanresources resource.plan 'plans' 'Plan' 'Plans' true}}<!-- {{/if}}
				{{#if resource.virtualtour}} -->{{goodmanresources resource.virtualtour 'tour' 'Tour' 'Tours' false}}<!-- {{/if}}
				{{#if micrositeurl}}
				--><a href="{{cleanurl micrositeurl}}" target="_blank" class="property_detail_tool_bar_item property_detail_tool_bar_item_website"><div class="property_detail_tool_bar_item_title">Website</div></a><!--
				{{/if}}
				{{#if resource.360view}} -->{{goodmanresources resource.360view '360' '360' '360' false}}<!-- {{/if}}
				{{#if resource.webcam}} -->{{goodmanresources resource.webcam 'webcam' 'Webcam' 'Webcams' false}}<!-- {{/if}}
				{{#if resource.three_d_model}} -->{{goodmanresources resource.three_d_model '3d' '3D model' '3D models' true}}<!-- {{/if}}
				{{#if resource.location_map}} -->{{goodmanresources resource.location_map 'location' 'Location' 'Locations' false}}<!-- {{/if}}
			--></div>
			{{/if}}

			{{{leasingdescription}}}

		</div>

		{{#if site}}
		<div class="property_detail_content_body_container property_detail_for_lease_content_body_container">
			<h3>Spaces for lease</h3>
			<div class="property_detail_for_lease_space_list">
				{{!-- 
				<div class="property_detail_for_lease_space_item_container header"><!-- 
				--><div class="property_detail_for_lease_space_field_name">Lease</div><!-- 
				--><div class="property_detail_for_lease_space_field_area">Area</div><!-- 
				--><div class="property_detail_for_lease_space_field_type">Type</div><!-- 
				--><div class="property_detail_for_lease_space_field_available">Available</div></div>
				--}}
				{{#each site}}
				<div class="property_detail_for_lease_space_item_container"><!-- 
				--><div class="property_detail_for_lease_space_field_name">{{name}}</div><!-- 
				--><div class="property_detail_for_lease_space_field_area">{{goodmansize size}}</div><!-- 
				--><div class="property_detail_for_lease_space_field_type">{{type}}</div><!-- 
				--><div class="property_detail_for_lease_space_field_available">{{#if_future availabledate}}Available {{monthYearFormat availabledate false}}{{else}}Available now{{/if_future}}</div></div>
				{{/each}}
			</div>
		</div>
		{{/if}}

		{{#if sitefeature}}
		<div class="property_detail_content_footer_container">
			<h3>Site features</h3>
			<div class="property_detail_feature_wrapper">
			   {{#each sitefeature}}
				<div class="property_detail_feature_container {{ class }}">{{ name }}</div>
			   {{/each}}
			</div>
		</div>
		{{/if}}

		{{#if childproperties}}
		<div class="property_detail_content_more_spaces">
			<div class="property_list_section_separator"></div>
			<h3>More spaces available</h3>
			<div class="property_list_section_content_container">
				{{#each childproperties}}{{#with attributes}}
				<div class="property_list_item_container {{#if_eq isleased '0'}}property_list_lease_item_container{{/if_eq}}" data-object-id="{{objectid}}">
					<div class="property_list_item_gallery_container gallery_container">
						<div class="property_list_item_image_container gallery_image_container" 
							style="background-image:url('{{#if gppthumbnailimage}}{{cleanurl gppthumbnailimage}}{{else}}{{cleanurl leasingthumbnailimage}}{{/if}}')"
							title="{{name}}"></div>
					</div>
					<div class="property_list_item_description_container">
						<p class="property_list_item_type high_light">{{goodmantypes propertytype}}</p>
						<h3 class="property_list_item_title">{{name}}</h3>
						<p class="property_list_item_address">{{goodmanaddress address suburb region country true}} {{!-- {{address}}{{#if suburb}} {{suburb}}{{/if}}{{#if region}}<br>{{region}}{{/if}} --}}</p>
						{{#if size_standardunits}}
							<p class="property_list_item_area">{{goodmansize size_standardunits}}</p>
						{{else}}
							<p class="property_list_item_area">{{goodmansize minleasingsize false}}{{#if maxleasingsize}}{{#if_not_eq minleasingsize maxleasingsize}} - {{goodmansize maxleasingsize false}}{{/if_not_eq}}{{/if}} {{goodmansizeunit}}</p>
						{{/if}}
					</div>
				</div>
				{{/with}}{{/each}}
				<div class="clear"></div>
			</div>
		</div>
		{{/if}}
	</div>

</div>