<div id="product_detail_gallery_overlay_popup_wrapper" class="overlay_popup_wrapper">
	<div class="overlay_popup_container">
		<div class="gallery_container">
		{{#if attributes.resource}}
			{{#if_eq type 'lease'}}
				{{#each attributes.resource.leasingImage}}
					<div class="gallery_image_container"><img src="{{cleanurl url}}" alt="{{title}}">{{#if title}}<p class="caption">{{title}}</p>{{/if}}</div>
				{{/each}}
			{{else}}
				{{#each attributes.resource.SmarSpaceImage}}
					<div class="gallery_image_container"><img src="{{cleanurl url}}" alt="{{title}}">{{#if title}}<p class="caption">{{title}}</p>{{/if}}</div>
				{{/each}}
			{{/if_eq}}
		{{/if}}
		{{#if attributes.resource}}
			{{#if_eq type 'lease'}}
				<img src="{{cleanurl attributes.resource.leasingImage.0.url}}">
			{{else}}
				<img src="{{cleanurl attributes.resource.SmarSpaceImage.0.url}}">
			{{/if_eq}}
		{{/if}}
		</div>
		<div class="overlay_popup_close"></div>
	</div>
</div>