<div id="product_detail_gallery_overlay_popup_wrapper" class="overlay_popup_wrapper">
	<div class="overlay_popup_container">
		<div class="gallery_container">
			<div class="url-container">
				<input id="urlToCopy" type="text" value="{{url}}"><a href="#copyInput">Copy to clipboard</a><a href="{{url}}" target="_blank">Open in new window</a>
			</div>
			<iframe src="{{url}}" frameborder="0" marginwidth="0" marginheight="0"></iframe>
		</div>
		<div class="overlay_popup_close"></div>
	</div>
</div>