 <div class="property_list_section_wrapper">
   {{#each countries}}

		<div class="property_list_section_container">
			<div class="property_list_section_title_container">
				<h2>{{@key}}</h2>
				{{#if_bigger ../countryCount 1}}{{#if_bigger length 3}}<div class="property_list_section_navigation_link_all high_light"><a href="#searchCountry" data-country="{{@key}}">See all+</a></div>{{/if_bigger}}{{/if_bigger}}
				<div class="property_list_item_count">{{length}} propert{{#if_bigger length 1}}ies{{else}}y{{/if_bigger}}</div>
				{{!--
				<div class="property_list_item_selector_container hidden_desktop hidden_s">
					<div class="property_list_item_selector property_list_item_selector_selected"></div>
					<div class="property_list_item_selector"></div>
					<div class="property_list_item_selector"></div>
				</div>
				--}}
			</div>
			<div class="property_list_section_content_container">

				{{#each this}}
					{{#if_eq ../../countryCount 1}}
						{{> listing_item}}
					{{else}}
						{{#if_bigger 3 @index}}
							{{> listing_item}}
						{{/if_bigger}}
					{{/if_eq}}
				{{/each}}

				<div class="property_list_section_separator clear"></div>
			</div>
		</div>
		
	{{else}}
  		<div class="property_list_section_container property_list_section_container_no_results">
			<div class="property_list_section_title_container">
				<h2>No results found</h2>
				<p>No results in the category you selected were found in this map area.</p>
				<p>Please try zooming out on the map<span class="hide-on-no-filters-set"> or choosing another category</span>.</p>
				<div class="general_style_button property_filter_button_zoom_out">Zoom out</div>
				<div class="general_style_button property_filter_button_reset">Clear filters</div>
			</div>
		</div> 
	{{/each}}
</div>


{{#*inline "listing_item"}}
<div class="property_list_item_container {{#if_eq isleased '0'}}property_list_lease_item_container{{/if_eq}}" data-object-id="{{objectid}}">
	<div class="property_list_item_gallery_container gallery_container">
		<div class="property_list_item_image_container gallery_image_container" 
			style="background-image:url('{{#if gppthumbnailimage}}{{cleanurl gppthumbnailimage}}{{else}}{{cleanurl leasingthumbnailimage}}{{/if}}')"
			title="{{name}}"></div>
	</div>
	<div class="property_list_item_description_container">
		<p class="property_list_item_type high_light">{{goodmantypes propertytype}}</p>
		<h3 class="property_list_item_title">{{name}}</h3>
		<p class="property_list_item_address">{{goodmanaddress address suburb region country true}} {{!-- {{address}}{{#if suburb}} {{suburb}}{{/if}}{{#if region}}<br>{{region}}{{/if}} --}}</p>
		{{#if size_standardunits}}<p class="property_list_item_area">{{goodmansize size_standardunits}}</p>{{/if}}
	</div>
</div>
{{/inline}}