<div class="property_filter_size_display"><div class="property_filter_size_display_start">0</div> - <div class="property_filter_size_display_end">unlimited</div> {{sizeUnit}}</div>
<input type="hidden" name="min" value="0">
<input type="hidden" name="max" value="unlimited">
<div class="property_filter_size_bar_container">
	<div class="property_filter_size_bar_column_container property_filter_size_bar_column_container_5_column"><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div></div>
	<div class="property_filter_size_bar_front"><div class="property_filter_size_bar_front_start"></div><div class="property_filter_size_bar_front_end"></div></div>
</div>