{{#each results}}
	{{#if_eq @index 0}}
		{{#each this}}
		<div class="property_list_search_autocomplete_row property_list_search_autocomplete_row_location" data-suggestion-result="0,{{@index}}">{{hilite text ../../value}}</div>		
		{{/each}}	
	{{else}}
		{{#each this}}
		<div class="property_list_search_autocomplete_row property_list_search_autocomplete_row_suggestion" data-suggestion-result="1,{{@index}}">{{hilite feature.attributes.name ../../value}}</div>
		{{/each}}
	{{/if_eq}}
{{/each}}
