<h2 class="property_list_search_autocomplete_title">Recent searches</h2>
<div>
{{#each this}}
	{{#if objectid}}
		<div class="property_list_search_autocomplete_row property_list_search_autocomplete_row_suggestion" data-suggestion-saved="{{@index}}">{{name}}</div>
	{{else}}
		<div class="property_list_search_autocomplete_row property_list_search_autocomplete_row_location" data-suggestion-saved="{{@index}}">{{text}}</div>		
	{{/if}}
{{/each}}
</div>
