/* Drop Down */
.drop_down_parent {
}

.drop_down_wrapper {
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.drop_down_expand > .drop_down_wrapper {
    height: auto;
}

.drop_down_container {
    display: block;
}