
form {
	margin: 0;
	padding: 0;
}

.general_style_input {
    padding: 0.5em 1em;
    border: 1px solid #a4a19a;
    border-radius: 3px;
}

.general_style_button {
    padding: 0.5em 1em;
    background: #ffffff;
    border: 1px solid #a4a19a;
    border-radius: 3px;
    color: $color-text;
    cursor: pointer;
	
	&:hover {
    	border-color: $color-green;
	}
}

.general_style_button_green {
    background: $color-green;
    border-color: $color-green;
    color: #ffffff;
	
	&:hover {
    	background: $color-text;
		color: #ffffff;
	}
	&:visited {
		color: #ffffff;
	}
}

.general_style_label {
    padding-left: 0.5em;
    color: $color-text;
}

.general_style_label_right {
    padding-left: 0.5em;
    padding-right: 0;
}

.general_style_checkbox_container .general_style_label,
.general_style_radio_container .general_style_label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}


/* Checkbox */

.general_style_checkbox_display {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #a4a19a;
    line-height: 1.2em;
    text-align: center;
    cursor: pointer;
}

.general_style_checkbox_display:before {
    color: transparent;
    padding-top: 0.2em;
    font-family: $font-font-awesome;
    content: '\f00c';
}

.general_style_checkbox_container_checked .general_style_checkbox_display {
    background: $color-green;
    border-color: $color-green;
}

.general_style_checkbox_container_checked .general_style_checkbox_display:before {
    color: #ffffff;
}

.general_style_checkbox_input {
    display: none;
}

/* Radio */

.general_style_radio_display {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #a4a19a;
    line-height: 1.2em;
    text-align: center;
    cursor: pointer;
}

.general_style_radio_display:before {
    color: transparent;
    padding-top: 0.2em;
    font-family: $font-font-awesome;
    content: '\f00c';
}

.general_style_radio_container_checked .general_style_radio_display {
    background: $color-green;
    border-color: $color-green;
}

.general_style_radio_container_checked .general_style_radio_display:before {
    color: #ffffff;
}

.general_style_radio_input {
    display: none;
}