/* JQuery Plugins/Gallery */

.gallery_container {
    display: block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    line-height: 0.9;
    //transition:text-indent 1000ms ease;
}

.gallery_image_container {
    position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
    width: 100%;
	height: 100%;
    background: center center no-repeat;
    background-size: cover;
    text-indent: 0;
	
	opacity: 0;
	visibility: hidden;
	z-index: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
	
	.caption {
		text-align: center;
		font-size: 2em;
		line-height: 1.4;
		padding: 0.75em 0 0 0;
	}
	
	&.active {
		opacity: 1;
		visibility: visible;
		z-index: 1;
		transition: visibility 0s, opacity 0.5s linear;
	}
}

/*
.gallery_image_container img {
    display: block;
    width: 100%;
}
*/

.gallery_selector_container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;

    text-align: center;
    text-indent: 0;
}

.gallery_selector {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
	z-index: 1;
}

.gallery_selector_selected {
    background: #fff;
}

.gallery_navigator_vignette {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(left,rgba(0,0,0,0.33),rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.33) 100%), -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 75%,rgba(0,0,0,0.33) 100%);
    background: linear-gradient(to right,rgba(0,0,0,0.33),rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.33) 100%), linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0) 75%,rgba(0,0,0,0.33) 100%);
    pointer-events: none;
}

.gallery_navigator {
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    margin-top: -1.5rem;
    background: $color-green;
    color: #fff;
    text-align: center;
    cursor: pointer;
	z-index: 5;
	
	&::before {
		font-size: 2rem;
		line-height: 1.5;
		font-family: $font-material-icons;
	}
}

.gallery_navigator_previous { left: 0; }
.gallery_navigator_next { right: 0; }

.gallery_navigator_previous:before { content:'\E5CB'; }
.gallery_navigator_next:before { content:'\E5CC'; }

.gallery_zoom {
    display: block;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    text-indent: 0;
    cursor: pointer;
	z-index: 5;
	
	&:before {
		color: #fff;
		font-family: $font-font-awesome;
		font-size: 2rem;
		content: '\f0b2';
	}
}

@media only screen and (min-width: 992px) {
	.gallery_navigator {
		width: 5rem;
    	height: 5rem;
		&:before {
			font-size: 2.4rem;
    		line-height: 2.1;
		}
	}
}