/* iOS shim */

.is-ios {
	
	.property_filter_wrapper {
		bottom: 0;
		.property_filter_container {
			//margin-bottom: 6.5em;
		}
	}
	
	.scroll-pane {
		overflow-x: visible;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

}

