/* JQuery Plugins/Off Canvas */
/* Base Z-INDEX 1000 */
.off_canvas_wrapper {
    position: relative;
    width: 100%;
	height: 100%;
    min-height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
}

.off_canvas_container {
    position: relative;
    width: 100%;
	height: 100%;
    min-height: 100%;
    transition:transform 500ms ease;
    backface-visibility: hidden;
}

.off_canvas_expand_left .off_canvas_container {
    -ms-transform: translate(100%, 0);
    transform: translateX(100%);
}

.off_canvas_expand_right .off_canvas_container {
    -ms-transform: translate(-100%, 0);
    transform: translateX(-100%);
}

.off_canvas_container_mask {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(255,255,255,0.2);
    cursor:pointer;
    z-index:-1;
}

.off_canvas_expand .off_canvas_container_mask {
    z-index:1050;
}

.off_canvas_container_background {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.off_canvas_menu {
    display:block;
    width:100%;
    position:absolute;
    padding:0.5rem 1.5rem;
    top:0;
    bottom:0;
    background:#ecedf1;
    color:#697277;
    z-index:1100;
}

.off_canvas_menu_left {right:100%;}
.off_canvas_menu_right {left:100%;}

.off_canvas_trigger {
    display:block;
    width:4rem;
    height:4rem;
    border-radius:0.3rem;
    text-align: center;
    cursor:pointer;
    z-index:1020;
}

.off_canvas_trigger:before {
    display: inline-block;
    color: #333333;
    line-height: 4rem;
    font-family: $font-font-awesome;
    font-size: 2.4rem;
    content: '\f0c9';
}

.off_canvas_menu_sub_item {
    padding: 0.6em 0;
}

.off_canvas_menu_sub_item > a:before {
    padding-right: 0.5em;
    content: '+';
}

.off_canvas_menu_sub_item > a:hover {
    color: $color-green;
}

@media only screen and (max-width:767px)
{
    .off_canvas_menu_section_container {
        padding-top: 10em;
        width: 100%;
    }

    .off_canvas_menu_section {
        border-bottom: 1px solid #cacfd2;
    }

    #off_canvas_menu_section_contact_us {
        border-bottom: none;
    }

    .off_canvas_menu_item {
        padding: 0.75em 0;
        font-size: 2em;
        font-weight: bold;
    }

    .off_canvas_menu_item > a:after {
        padding: 0 0.5em;
        color: $color-green;
        font-family: $font-font-awesome;
        content: '\f054';
    }

    .off_canvas_menu_item.drop_down_parent > a:after {
        display: none;
    }

    .off_canvas_menu_item > .drop_down_trigger {
        display: inline-block;
        cursor: pointer;
    }

    .off_canvas_menu_item > .drop_down_trigger:before {
        padding: 0 0.5em;
        color: $color-green;
        font-family: $font-font-awesome;
        content: '\f078';
    }

    .off_canvas_menu_item.drop_down_expand > .drop_down_trigger:before {
        content: '\f077';
    }

    .off_canvas_menu_sub_list {
        padding: 1em;
        font-size: 0.8em;
        font-weight: normal;
    }

    #off_canvas_menu_section_contact_us .off_canvas_menu_item {
        padding: 1em 0;
        font-size: 1.2em;
        font-weight: normal;
    }
}

@media only screen and (min-width:768px) {
    .off_canvas_menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 4em;
        bottom: auto;
        text-align: right;
    }
    .off_canvas_menu_fixed {
        position: fixed;
        top: 0;
    }
    .off_canvas_menu_section_container {
        position: relative;
    }
    .off_canvas_menu_section {
        display: inline-block;
    }
    #off_canvas_menu_section_contact_us {
        display: none;
    }
    .off_canvas_menu_section:after {
        display: none;
    }
    .off_canvas_menu_item {
        display: inline-block;
        width: 7em;
        font-size: 1.4em;
        text-align: left;
        vertical-align: top;
    }

    .off_canvas_menu_item.drop_down_parent:hover .drop_down_wrapper {
        height: auto;
    }

    #top_wrapper {
        display: none;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .off_canvas_menu_item {
        font-size: 1.2em;
    }
}