/* JQuery Plugins/Overlay Popup */

.gallery_popup_active,
.resource_popup_active {
    overflow: hidden
}

.overlay_popup_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(68,68,68,0);
    z-index: -1;
    transition: z-index 500ms ease, background 500ms ease;
}

.gallery_popup_active #property-gallery-popup .overlay_popup_wrapper,
.resource_popup_active #property-resource-popup .overlay_popup_wrapper {
    display: block;
    background: rgba(68,68,68,0.9);
    z-index: 2000;
}

.overlay_popup_container {
    display: block;
    width: 1400px;
    max-width: 90%;
    position: relative;
    margin: 50px auto 0 auto;
}

.overlay_popup_close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 2020;

	&::before {
		display: block;
		width: 2em;
		height: 2em;
		background: #ffffff;
		color: $color-green;
		font-size: 2em;
		text-align: center;
		line-height: 2em;
		font-family: $font-material-icons;
		content: '\e5cd';
	}
	
	&:hover::before {
		color: $color-grey-dark;
	}
}

// Video

.overlay_popup_video_container {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top:0;
    left:0;
    padding-bottom: 75%;
    z-index: 2010;
}

.overlay_popup_video_container > iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

// Iframe

.url-container {
	width: 100%;
	background: $color-grey-dark;
	padding: 1em 3em 1em 1em;
	
	input {
		width: calc(100% - 320px);
		font-size: 1.6em;
		padding: 0 1em;
		line-height:2em;
		height: 2em;
		border-radius: 4px 0 0 4px;
		border: none;
	}
	a {
		display: inline-block;
		background: #fff;
		font-size: 1.6em;
		line-height: 2em;
		width: 160px;
		text-align: center;
		vertical-align: top;
		border-left: 1px solid $color-hr;
		
		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}
		
		&:hover {
			background: $color-green;
			color: #fff;
		}
	}
}

iframe {
	width: 100%;
	height: 78vh;
	border: 1px solid $color-hr;
}
