/* property list title */

.property_list_title_wrapper {
    padding: 35px 0 0 0;
	background: $color-grey-dark;
    text-align: center;
	
	.smartspace-logo {
		width: 234px;
		height: 66px;
	}
	
	
	@media only screen and (max-width: 359px) {
		 .property_list_title_container { width:300px; }
	}

	@media only screen and (min-width:360px) and (max-width: $screen-xs - 1) {
		 .property_list_title_container { width:340px; }
	}
	
	@media only screen and (min-width:$screen-xs) and (max-width: $screen-sm - 1) {
		.property_list_title_container { width:450px; }
		
	}
	
	@media only screen and (max-width: $screen-sm - 1) {
		padding: 20px 0 0 0;
		.property_list_title_container { margin: 0 auto; }
		.smartspace-logo {
			width: 80px;
			height: 22px;
			margin: 0;
		}
	}
	
	@media only screen and (min-width:$screen-sm) and (max-width:$screen-md - 1) {
 	    .property_list_title_container {width: 740px; margin: 0 auto; }
	}
	
	@media only screen and (min-width: $screen-md) {
		text-align: right;
		.property_list_title_container { text-align: left; display: inline-block; }
		.smartspace-logo { margin: 0; }
	}
	
	@media only screen and (min-width:$screen-md) and (max-width:$screen-xl - 1) {
	    .property_list_title_container {width: (960px / 2); }
	}

	@media only screen and (min-width:$screen-xl) {
		.property_list_title_container {width: (1170px / 2); }
	}
	
	
	
}