/* Map type container */

#map-type-selector-container {
	position: absolute;
	top: 20px;
	right: 20px;
	
	.property_map_type_container {
		box-shadow: 0 3px 8px rgba(23,48,56,0.3);
		
		.property_map_type_link {
			display: inline-block;
			background: #fff;
			color: $color-text;
			font-size: 1.4em;
			text-align: center;
			line-height: 40px;
			padding: 0 1.5em;
			cursor: pointer;
			
			&.active {
				background: $color-green;
				color: #fff;
			}
			
			.property_map_type_link_name { }
		}
	}
}