/*# Body/Property List Page/Filter #*/
.property_filter_sub_section {
    padding-bottom: 1.5em;
}
.property_filter_container .general_style_checkbox_container {
    padding: 0.3em 0;
    font-size: 1.6em;
}
.property_filter_sub_section_title > .general_style_checkbox_container {
    display: inline-block;
    font-weight: bold;
}
.property_filter_container .general_style_checkbox_container .general_style_checkbox_display {
    font-size: 0.75em;
    vertical-align: 0.2em;
}

#property_type_filter_section .general_style_label {
    font-weight: bold;
}
#property_type_filter_section .property_filter_checkbox_sub_label {
    display: block;
    color: #999999;
    font-size: 0.875em;
    font-weight: normal;
}

.property_filter_button_container {
	clear: left;
	padding-top: 0.5em;
}

.property_filter_button,
.property_filter_section_button {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}

.property_filter_button_apply,
.property_filter_section_button_apply {
    color: $color-green;
    float: right;
}

@media only screen and (max-width: $screen-md - 1) {
    .property_filter_wrapper {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 48px;
        left: 0;
		overflow-y: auto;
        background: rgba(255,255,255,0.9);
        z-index: 2000;
    }
    .property_filter_active .property_filter_wrapper {
		display: block;
	}
	.property_filter_active #property-list .scroll-pane {
		height: 940px;
		overflow-y: hidden;
	}

    .property_filter_title_container {
        padding: 1.5em 0 1em 0;
        background: #ffffff;
        border-bottom: 1px solid $color-hr;
        text-align: center;
		height: 5em;
    }
    .property_filter_title {
        float: left;
        color: $color-green;
        font-size: 1.6em;
    }
    .property_filter_title_button_reset {
        display: inline-block;
        color: #a4a19a;
        font-size: 1.6em;
        font-weight: bold;
        cursor: pointer;
    }
    .property_filter_title_button_cancel {
        float: right;
        font-size: 1.6em;
        cursor: pointer;
    }
    .property_filter_title_button_cancel:before {
        color: $color-green;
        font-family: $font-material-icons;
        content: '\e5cd';
    }
    .property_filter_container {
        position: relative;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
        padding: 0.2em 20px 7em 20px;
        background: #ffffff;
        box-shadow: 0 3px 8px rgba(23,48,56,0.3);
    }
    .property_filter_container > .drop_down_parent > .drop_down_trigger { display: none; }
    .property_filter_container > .drop_down_parent > .drop_down_wrapper { height: auto; }

    .property_filter_section {
        padding: 1.8em 0 0.6em 0;
        border-bottom: 1px solid $color-hr;
    }
    .property_filter_section_title {
        padding-bottom: 0.5em;
        font-size: 2.1em;
        font-weight: bold;
    }
    .property_filter_content .drop_down_trigger {
        display: block;
        float: right;
        padding: 0.5em 0;
        color: $color-green;
        font-size: 1.4em;
        cursor: pointer;
    }
    .property_filter_content .drop_down_trigger:before {
        padding-right: 0.5em;
        content: 'Show';
    }
    .property_filter_content .drop_down_trigger:after {
        font-family: $font-font-awesome;
        content: '\f078';
    }
    .property_filter_content .drop_down_expand .drop_down_trigger:before {
        content: 'Hide';
    }
    .property_filter_content .drop_down_expand .drop_down_trigger:after {
        content: '\f077';
    }
    .property_filter_section .property_filter_section_button_container {
        display: none;
    }
    .property_filter_inline_reset {
        display: none;
    }
    .property_filter_size_bar_container {
        width: 90%;
        margin: 0 auto;
    }
    #property_for_lease_filter_section {
        border-bottom: none;
    }
	.property_filter_button_container {
		display: none;
	}
    .property_filter_bottom_button_container {
        //position: fixed;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		//margin-top: 1.5em;
    }
    .property_filter_bottom_button {
        display: inline-block;
        width: 50%;
        padding: 0.6em 0;
        font-size: 1.8em;
        text-align: center;
        cursor: pointer;
        border-radius: 0;
		color: #fff;
    }
    .property_filter_bottom_button_cancel {
        color: #a4a19a;
    }
	
	#property_size_filter_section {
		.general_style_radio_container {
			display: inline-block;
		}
	}
	
	#property_fund_filter_section {
		.property_filter_section_row {
			width: 33.33%;
			float: left;
		}
	}
}

@media only screen and (max-width: $screen-sm - 1) {
	#property_fund_filter_section {
		.property_filter_section_row {
			width: 50%;
			float: left;
		}
	}
}



@media only screen and (min-width: $screen-md) {
    .property_filter_wrapper {
        padding: 1.8em 3em;
        position: relative;
        background: #ebeef0;
    }
    .property_filter_container {
        width: 100%;
    }
    .property_filter_title_container {
        display: none;
    }
    .property_filter_section_title {
        display: none;
    }
    .property_filter_section {
        display: inline-block;
        padding-right: 1.5em;
		// position: relative;
    }
    .property_filter_section > .drop_down_trigger {
        padding: 0.3em 0.8em;
        font-size: 1.6em;
    }
    .property_filter_section.drop_down_expand > .drop_down_trigger,
	.drop_down_trigger.drop_down_trigger_filled {
        color: #ffffff;
        background: $color-green;
        border-color: $color-green;
    }
    .property_filter_section > .drop_down_wrapper {
        max-width: 90%;
        position: absolute;
        margin-top: 1em;
        background: #ffffff;
        box-shadow: 0 3px 8px rgba(23,48,56,0.3);
        z-index: 2;
    }
	
	.is-mobile-os .property_filter_section > .drop_down_wrapper.half-right {
		right: 1.5em;
	}

	#property_country_filter_section > .drop_down_wrapper { width: 60em; }
    #property_type_filter_section > .drop_down_wrapper { width: 27em; }
    #property_size_filter_section > .drop_down_wrapper { width: 32em; }
	#property_fund_filter_section > .drop_down_wrapper { width: 36em; }

    .property_filter_section > .drop_down_wrapper > .drop_down_container {
        padding: 3.5em 3em;
    }
    .property_filter_sub_section > .drop_down_wrapper {
        height: auto;
    }
    .property_filter_inline_reset {
        display: inline-block;
        font-size: 1.6em;
        cursor: pointer;
    
		&::before {
			color: #a4a19a;
			font-family: $font-material-icons;
			content: '\e5cd';
			font-size: 1.5em;
			vertical-align: middle;
		}
		&:hover::before {
			color: $color-green;
		}
	}
    #property_for_lease_filter_section {
        float: right;
        padding-right: 0;
    }
    .property_filter_bottom_button_container {
        display: none;
    }
	
	#property_size_filter_section {
		.size-units-selector {
			font-size: 1.6em;
			.general_style_radio_display {
				font-size: 0.75em;
			}
		}
		.general_style_radio_container {
			display: inline-block;
			margin-left: 0.5em;
		}
	}
	
	#property_fund_filter_section {
		.property_filter_section_row {
			width: 33.33%;
			float: left;
		}
	}
	
}

