/* Results list sticky */

#property-list-search,
#property-list-filter {
	position: fixed;
	margin-top: 0;
	width: 50%;
	z-index: 5;
	transition: top 0.3s;
	
}

#property-list-filter {
	margin-top: 187px;
	z-index: 4;
}

#property-list-results {
	margin-top: 188px + 70;
}

#property-list .sticky {
	#property-list-search {
		top: -99px;
	}
	#property-list-filter {
		margin-top: 0;
		top: -100px + 188;
	}
}

.page-left-wrapper .mCSB_scrollTools {
	z-index: 6;
}

@media only screen and (max-width: $screen-md - 1) {
	#property-list-search,
	#property-list-filter {
		width: 100%;
		margin-top: 0;
	}
	#property-list-filter {
		position: static;
	}
}

@media only screen and (max-width: $screen-sm - 1) {
	#property-list .sticky {
		#property-list-search,
		#property-list-filter {
			top: -42px;
		}
	}
}