/* Typography */

html {
	font-size: 62.5%; // 10px
}

body {
	@include font-roboto();
	color: $color-text;
    line-height: 1.4;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.2em; }
h4, h5, h6, p, ol, ul { font-size: 1em; }

a, 
a:hover, 
a:visited {
    color:inherit;
    text-decoration:inherit;
}

.green { color: $color-green; }