/* Colours */

$color-green: #77ac1c;
$color-grey-dark: #737c81;
$color-grey: #b8b8b8;


$color-blue-light: #0080c3;

$color-text: #5b5b5b;
$color-hr: #cdcdcd;

$gradient: linear-gradient(to bottom, $color-green 0%, $color-blue-light 100%);

@function gradient($from-color: $color-green, $to-color: $color-blue-light, $direction: to bottom, $from-offset: '0%', $to-offset: '100%') {
	@return linear-gradient($direction, $from-color $from-offset, $to-color $to-offset);
}
