/* Landing page styles */

#landing-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 200;
	// Ensure iphone will scroll 
	-webkit-overflow-scrolling: touch;
	
	.narrow-container {
		max-width: 810px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.header {
		position: relative;
		height: 460px;
		text-align: center;
		background: $color-text url('../images/landing-search-2-bg.jpg') center center no-repeat;
		background-size: cover;
		color: #fff;
		
		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			background: rgba(0,0,0,0.5);
			z-index: 0;
		}
		
		.smartspace-container {
			position: relative;
			height: 130px;
			margin: 0 auto;
			padding-top: 35px;
			z-index: 1;
			
			.smartspace-logo {
				width: 234px;
				height: 66px;
			}
		}
		
		h1 {
			position: relative;
			font-size: 5.5em;
			font-weight: 400;
			margin-bottom: 0.8em;
			z-index: 1;
			
			&::after {
				content: '+';
				font-weight: 300;
				color: $color-green;
			}
			
			@media only screen and (max-width: $screen-md - 1) {
				font-size: 3em;
			}
			
		}
		
		.loading {
			position: relative;
			text-align: center;
			color: #fff;
			font-size: 2.6em;
			
			.spinner {
				display: inline-block;
				position: relative;
				width: 0.75em;
				height: 0.75em;
				margin: 0 0.1em;
			
				&::before,
				&::after {
					display: block;
					position: absolute;
					font-size: 0.75em;
					top: 0;
					left: 0;
					background: $color-green;
					width: 1.2em;
					height: 0.1em;
					margin: 0.55em 0;
					content: '';
					z-index: 10;
					// Animation fround in _property-search.scss
					animation: loading-spin 1s infinite;
				}
				&::after {
					width: 0.1em;
					height: 1.2em;
					margin: 0 0.55em;
				}
			}
		}
		
		#property_list_search {
			padding: 0.7em 1em 0.7em 2.5em;
		}
	}
	
	.introduction {
		padding-top: 70px;
		padding-bottom: 65px;
		height: 370px;
		
		h2 {
			font-size: 5.5em;
			font-weight: 600;
			color: $color-grey;
			margin-bottom: 0.25em;
			&::after {
				content: '+';
				font-weight: 300;
				color: $color-green;
			}
		}
		p {
			font-weight: 300;
			font-size: 2.6em;
			color: $color-grey-dark
		}
	}
	
}

@media only screen and (max-width: $screen-md - 1) {
	#landing-container {
		.introduction {
			font-size: 0.9em;
		}
	}
}

@media only screen and (max-width: $screen-sm - 1) {
	#landing-container {
		.header { 
			height: 320px; 
			
			.smartspace-container {
				width: auto; 
				height: 100px;
				padding: 16px 0 0 0;
				margin: 0 15px;

				.smartspace-logo {
					width: 80px;
					height: 22px;
				}
			}
		}
		
		.introduction {
			height: 310px;
			font-size: 0.8em;
			h2 { font-size: 3em; }
			p { font-size: 2em; }
		}
	}
}

