/**
 * Created by Allen on 16/01/2018.
 */

.high_light { color: #77ac1c; }
.bg_high_light { background: #77ac1c; color: #ffffff;}

/*# Body #*/

/*# Body/Property List Page #*/
#property_list_page_wrapper > .container
{
    width: 100%;
    max-width: none;
}
