/* Header */

.header_wrapper {
    position: absolute;
    top: 0;
    left: 0;
	height: $header-height-mobile;
    background: #ffffff;
    box-shadow: 0 3px 8px rgba(23,48,56,0.3);
    z-index: 1000;
}

.top_wrapper {
    position: relative;
}

.top_sub_menu_wrapper {
    border-bottom: 1px solid #dddddd;
    text-align: right;
	display: none;
}

.top_sub_menu_item_container {
    display: inline-block;
    cursor: pointer;
}

.top_sub_menu_item_container.drop_down_expand {
    background: #ecedf1;
}

.top_sub_menu_item {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
}

div.top_sub_menu_item:after {
    padding-left: 0.2em;
    color: #77ac1c;
    font-family: 'FontAwesome';
    content: '\f078';
}

.top_sub_menu_item_container .drop_down_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    background: #ecedf1;
    z-index: 1200;
}

.top_sub_menu_item_container .drop_down_container {
    padding: 3em;
}

.top_sub_menu_item_container .drop_down_item_container {
    padding: 0.5em 0;
    text-align: left;
}

.top_sub_menu_item_container .drop_down_item {
    color: #697277;
    font-size: 2em;
    font-weight: bold;
}

.top_sub_menu_item_container .drop_down_item:after {
    padding-left: 0.2em;
    color: #77ac1c;
    font-family: 'FontAwesome';
    content: '\f054';
}

.top_main_menu_wrapper {
    padding: 1em 0;
}

.top_main_menu_wrapper > .container {
    line-height: 1;
}

.top_logo_container {
    display: inline-block;
    width: 5em;
}

.top_logo_container a,
.top_logo_container img {
    display: block;
    width: 100%;
}

.top_menu_trigger {
    display: block;
    float: right;
}

.top_menu_trigger:before {
    color: #77ac1c;
}

.top_main_menu_wrapper .top_search_trigger {
    display:block;
    width:4rem;
    height:4rem;
    float: right;
    border-radius:0.3rem;
    text-align: center;
    cursor:pointer;
}

.top_search_trigger:after {
    display: inline-block;
    color: #77ac1c;
    font-family: 'FontAwesome';
    content: '\f002';
}

.top_main_menu_wrapper .top_search_trigger:after {
    line-height: 4rem;
    font-size: 2.4rem;
}

#main_menu_close_trigger {
    display: block;
    width: auto;
    float: right;
    font-size: 1.4em;
    line-height: 4rem;
    text-align: right;
}

#main_menu_close_trigger:before {
    content: '';
}

#main_menu_close_trigger:after {
    display: inline-block;
    padding: 0 0.2em;
    color: #77ac1c;
    line-height: 4rem;
    font-family: 'FontAwesome';
    font-size: 2.4rem;
    vertical-align: sub;
    content: '\f00d';
}

@media only screen and (min-width: $screen-sm) {
	.header_wrapper {
		height: $header-height;
	}
	.top_sub_menu_wrapper {
        border-bottom: none;
		display: block;
    }
    .top_sub_menu_wrapper > .container {
        padding-left: 18em;
    }
    .top_sub_menu_wrapper > .container:after {
        display: block;
        width: 100%;
        border-bottom: 1px solid #dddddd;
        content: ' ';
    }
    .top_sub_menu_item_container .drop_down_wrapper {
        width: auto;
        left: auto;
        right: auto;
    }
    .top_sub_menu_item_container .drop_down_container {
        padding: 1em 2em;
    }
    .top_sub_menu_item_container .drop_down_item {
        font-size: 1.4em;
    }
    .top_logo_container {
        margin-left: 3.5em;
        -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
        transform: scale(2.4);
    }

    .off_canvas_expand .off_canvas_container {
        transform: none;
    }

    #main_menu_container {
        padding: 0;
        background: transparent;
        pointer-events: none;
    }

    #main_menu_close_trigger {
        display: none;
    }

    #main_menu_container .off_canvas_menu_item {
        border-bottom: 4px solid transparent;
        pointer-events: auto;
    }

    #main_menu_container .off_canvas_menu_item:hover {
        border-bottom-color: #77ac1c;
    }

    #main_menu_container .off_canvas_menu_item > a {
        display: block;
        width: 100%;
        padding: 1em 0;
        font-weight: bold;
    }

    #main_menu_container .off_canvas_menu_item:hover .drop_down_wrapper {
        position: absolute;
        left: 0;
        right: 0;
        padding-top: 5px;
        box-shadow: 0 3px 8px rgba(23,48,56,0.3);
    }

    #main_menu_container .off_canvas_menu_item .drop_down_container {
        padding: 0 20%;
        background: #fbfbfc;
        text-align: center;
    }

    #main_menu_container .off_canvas_menu_item .off_canvas_menu_sub_item {
        display: inline-block;
        width: 45%;
        padding: 0.6em 0;
        font-size: 1.2em;
        text-align: left;
    }
}