/* Iframe */

#esri-iframe {
	position: relative;
	margin-top: $header-height;
	
	width: 100%;
	height: 460px + 370;
	transition: 0.5s;
}

.esri-iframe-expanded {
	#esri-iframe {
		position: absolute;
		height: calc(100vh - #{$header-height});
	}
	
	.esri-iframe-hide-on-expand {
		display: none;		
	}
}

@media only screen and (max-width: $screen-sm - 1) {
	#esri-iframe {
		height: 320px + 310;
		margin-top: $header-height-mobile;
	}
	
	.esri-iframe-expanded #esri-iframe {
		height: calc(100vh - #{$header-height-mobile});
	}
}
